<!DOCTYPE html>
<html lang="zh" font-size: 100%;>
<head>
<title>台北區監理所愛心服務</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<form method="post" action="/old_tpc">
<table align="center" valign="center">
  <tr align="center" valign="center">
  <td><label style="font-size:30px">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</label><input type="text" name="name" maxlength="10" size="10" style="font-size:25px"></td>
  </tr>
  <tr align="center" valign="center">
  <td><label style="font-size:30px">聯絡電話：</label><input type="text" name="phone" maxlength="10" size="10" style="font-size:25px"></td>
  </tr>
  <tr align="center" valign="center">
  <td><input type="radio" name="choose" value="輪椅服務"><label style="font-size:25px">輪椅服務</label>
      <input type="radio" name="choose" value="尋求停車位"><label style="font-size:25px">尋求停車位</label>
  </td>
  </tr>
  <tr>
  <td>
  <input type="radio" name="choose" value="公廁急需協助"><label style="font-size:25px">公廁急需協助</label>
  <select name="wc" style="font-size:20px">
    <option>請選擇您所在的廁所</option>
    <option>A棟1樓大廳男廁</option>
    <option>A棟1樓大廳女廁</option>
    <option>A棟2樓男女廁（電梯一側）</option>
    <option>A棟2樓男女廁（筆試室旁）</option>
    <option>A棟3樓男女廁（電梯一側）</option>
    <option>A棟3樓男女廁（主計室旁）</option>
    <option>A棟4樓男女廁（電梯一側）</option>
    <option>A棟4樓男女廁（交安科旁）</option>
    <option>B棟1樓男女廁（檢驗場第4車道旁）</option>
    <option>C棟1樓男女廁（道安教室）</option>
    <option>D棟1樓男女廁（機車考驗場）</option>
  </select>
  </td>
  </tr>
  <tr>
  <td align="center"><input type="submit" style="font-size:30px"></td>
  </tr>
</table>
</form>
</html>
<!-- partial -->
</body>
</html>
