<!DOCTYPE html>
<html lang="zh" font-size: 100%;>
<head>
<title>宜蘭站監理所愛心服務</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<form method="post" action="/old_YiLan">
<table align="center" valign="center">
  <tr align="center" valign="center">
  <td><label style="font-size:30px">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</label><input type="text" name="name" maxlength="10" size="10" style="font-size:25px"></td>
  </tr>
  <tr align="center" valign="center">
  <td><label style="font-size:30px">聯絡電話：</label><input type="text" name="phone" maxlength="10" size="10" style="font-size:25px"></td>
  </tr>
  <tr align="center" valign="center">
  <td><input type="radio" name="choose" value="輪椅服務"><label style="font-size:25px">輪椅服務</label>
  </td>
  </tr>
  <tr align="center" valign="center">
  <td><input type="radio" name="choose" value="尋求停車位"><label style="font-size:25px">尋求停車位</label>
  </td>
  </tr>
  <tr>
  <td align="center" valign="center">
  <input type="radio" name="choose" value="公廁急需協助"><label style="font-size:25px">公廁急需協助</label><br>
  <select name="wc" style="font-size:20px" align="center" valign="center">
    <option>請選擇您所在的廁所(非公廁服務勿選)</option>
    <option>A棟2樓男廁</option>
    <option>A棟2樓女廁</option>
    <option>B棟2樓男廁</option>
    <option>B棟2樓女廁</option>
    <option>哺乳室</option>
  </select>
  </td>
  </tr>
  <tr>
  <td align="center"><input type="submit" style="font-size:30px"></td>
  </tr>
</table>
</form>
</html>
<!-- partial -->
</body>
</html>
